<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: rgb(212, 212, 212);">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand" style="color: black;">EventMaster</a>
    </div>
    <ul class ="nav navbar-nav navbar-right">
      <li routerLinkActive="active" ><a routerLink="/cart" style="color: black;" *ngIf="isAuth">Koszyk</a></li>
      <li class ="dropdown" appDropdown *ngIf="isAuth">
          <a class = "dropdown-toggle" role = "button" style="color: black;">Menu <span class = "caret"></span></a>
          <ul class = "dropdown-menu">
              <li><a href="my_tickets">Moje bilety</a></li>
              <li><a href="my_events">Moje imprezy</a></li>
              <li><a (click)="onLogout()">Wyloguj</a></li>

          </ul>
          <li class="dropdown" appDropdown *ngIf="!isAuth">
            <a style="cursor: pointer;" class="dropdown-toggle" role="button">Auth<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li style="cursor: pointer;"><a routerLink="/auth" >Login</a></li>
              <li style="cursor: pointer;"><a routerLink="/auth/register" >Register</a></li>
            </ul>
          </li>

  </ul>

  </div>
    <div class="container-fluid">
      <div class ="collapse navbar-collapse" style="text-align: center;">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/events" >Imprezy</a></li>
          <li routerLinkActive="active"><a routerLink="/organize" >Organizuj</a></li>
          <li routerLinkActive="active"><a routerLink="/sell" >Sprzedaj</a></li>
          <li routerLinkActive="active"><a routerLink="/company" >Zgłoś firmę</a></li>
          <li routerLinkActive="active"><a routerLink="/report" >Zgłoś usterkę</a></li>
        </ul>
      </div>

    </div>
</nav>



