<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: rgb(212, 212, 212);">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand" style="color: black;">EventMaster</a>
    </div>
    <ul class ="nav navbar-nav navbar-right">
      <li routerLinkActive="active" ><a routerLink="/cart" style="color: black;">Koszyk</a></li>
      <li class ="dropdown" appDropdown>
          <a href="#" class = "dropdown-toggle" role = "button" style="color: black;">Menu <span class = "caret"></span></a>
          <ul class = "dropdown-menu">
              <li><a href="#">Moje bilety</a></li>
              <li><a href="#">Moje imprezy</a></li>
              <li><a href="#">Wyloguj</a></li>
          </ul>
      </li>
  </ul>

  </div>
    <div class="container-fluid">
      <div class ="collapse navbar-collapse" style="text-align: center;">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/events" >Imprezy</a></li>
          <li routerLinkActive="active"><a routerLink="/organize" >Organizuj</a></li>
          <li routerLinkActive="active"><a routerLink="/sell" >Sprzedaj</a></li>
          <li routerLinkActive="active"><a routerLink="/company" >Zgłoś firmę</a></li>
          <li routerLinkActive="active"><a routerLink="/report" >Zgłoś usterkę</a></li>
        </ul>
      </div>

    </div>
</nav>



