<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">EventMaster</a>
    </div>
    <ul class ="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="#" >Koszyk</a></li>
      <li class ="dropdown" appDropdown>
          <a href="#" class = "dropdown-toggle" role = "button">Menu <span class = "caret"></span></a>
          <ul class = "dropdown-menu">
              <li><a href="#">Opcja_1</a></li>
              <li><a href="#">Opcja_2</a></li>
              <li><a href="#">Opcja_3</a></li>
              <li><a href="#">Opcja_4</a></li>
          </ul>
      </li>
  </ul>

  </div>
    <div class="container-fluid">
      <div class ="collapse navbar-collapse" style="text-align: center;">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="#" >Imprezy</a></li>
          <li routerLinkActive="active"><a routerLink="#" >Organizuj</a></li>
          <li routerLinkActive="active"><a routerLink="#" >Sprzedaj</a></li>
          <li routerLinkActive="active"><a routerLink="#" >Zgłoś firmę</a></li>
          <li routerLinkActive="active"><a routerLink="#" >Zgłoś usterkę</a></li>
        </ul>
      </div>

    </div>
</nav>



