<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="type_fault">Typ usterki</label><br>
          <input
          type="text"
          id="type_fault"
          class="form-control"
          class="form-control" formControlName="type_fault"
          name="type_fault"
          required>
        </div>
        <div>
          <div class="form-group">
            <label for="chooseEvent">Wybierz której imprezy dotyczy usterka</label><br>
            <select
            id="chooseEvent"
            class="form-control"
            formControlName="chooseEvent"
            name="chooseEvent">
            <option *ngFor="let event of events; let i = index" value="{{ i }}" >{{i}}</option>
          </select>
          </div>
        </div>
        <div class="form-group">
          <label for="additional">Opis usterki</label><br>
          <textarea
            name="desc_fault"
            rows="3"
            formControlName="desc_fault"
            class="form-control"></textarea>
        </div>

        <button
        class="btn btn-primary"
         type="submit"
         [disabled]="!signForm.valid">Zgłoś</button>
      </form>
    </div>
  </div>
</div>
